.Footer{
    /* display: flex; */
    padding: 10px 10px;
    /* position: sticky; */
    top: 0;
    bottom:0;
    background-color: rgb(238, 231, 231);
}
.headerFooter{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.Col{
    align-items: end;
    justify-content: end;
    display: flex !important;
}
.BottomFooter{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BottomFooter > span{
    font-size: 13px;
}
.BottomFooter > span:hover{
    font-size: 15px;
    color: red;
}
.ViewStora{
    display: flex;
    align-items: center;
    justify-content: center;
}