/* .contain{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.cart_container{
    /* width: 70%;
    height: 85%; */
    background-color: "gray";
    height: 200px;
    width : 400px;
    border-radius: 20px;
    box-shadow: 0px 15px 40px #5d8fb233;
    padding: 10px;
}